.row
  .columns.medium-12
    %h2 List of performances

    = render partial: "shared/performances", locals: { performances: @performances }

    %br

    = link_to 'New Performance', new_performance_path
